div {
	display: block;
}
#container {
	overflow: auto;
	width: 975px;
	margin: auto;
}

.square {
	background-color: black;
	float: left;
	border: 1px solid white;
	height:15px;
	width:15px;
}
.row {
	clear: both;

}
button{
/*Was going to style the button but felt no need to, feel free to customize it if you want to use my code.*/	
}
